.u-margin-bottom-medium { margin-bottom: 4rem !important;}
 
.logosubscribe {
    height: 40%;
    width: 40%;
    position: relative;
    background-color: transparent;
    margin: 2rem;
    align-self: center;
}

.row {
    display: flex;
}

.subscribe {
        background-color: transparent;
        background-size: 100%;
        border-radius: 3px;
        //box-shadow: 0 1.5rem 4rem rgba(0,0,0, .15);
        box-sizing: initial;
        flex: 0 0 50%;
    
    
    &__form {
        width: 50%;
        //padding: 5rem;
        display: flex;
        align-content: flex-end;
        margin-right: 5rem;
    }
    
    &__heading {
        color: var(--color-dark-brown-5);
        font-family: 'Josefin Sans',sans-serif;
        font-weight: 400;
        line-height: 1;
        font-size: 4rem;
        font-style: italic;
        text-transform: uppercase;
    }

    &__detail {
        background-color: transparent;
        background-size: 100%;
        border-radius: 3px;
        //box-shadow: 0 1.5rem 4rem rgba(0,0,0, .15);
        box-sizing: initial;
        flex: 0 0 20%;
        align-content: center;
        justify-content: center;
        //align-content: flex-end;
        display: flex;
    }

    &__img {
        margin: 2rem;
        &--1 {
            width: 127px;
            float: left;
            transform: rotate(-11deg);
        }
        &--2 {
            width: 127px;

        }
        &--3 {
            width: 127px;
            float: right;
            transform: rotate(11deg);
        }

        //height: 40%;
        //float: right; transform: rotate(11deg);
        //float: left; transform: rotate(-11deg);
    }

}

.btnsubs {
        border: none;
        border-radius: 0;
        background-color: var(--color-dark-brown-2);
        color: var(--color-white);
        font-family: 'Nunito', sans-serif;
        font-size: 1.5rem;
        padding: 1rem 1rem;
        margin: 2rem;
        cursor: pointer;

        &:hover {
            color: var(--color-light-beige-1);
        }
}

.form {

    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: 'Nunito', sans-serif;
        color: var(--color-dark-brown-3);
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba(#fff, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 30vw;
        display: block;
        transition: all .3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(0,0,0, .1);
            border-bottom: 2px solid #b0a397;
        }

        &:focus:invalid {
            border-bottom: 2px solid #574c42;
        }

        &::-webkit-input-placeholder {
            color: var(--color-dark-brown-3);
        }
    }

    &__label {
        font-size: 1.2rem;
        font-family: 'Nunito', sans-serif;
        color: var(--color-dark-brown-1);
        font-weight: 300;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;

    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__subsgroup {
        width: 20vw;
    }

    &__paragraph {
        padding: 3rem 3rem;
    }

    &__text {
        background-color: var(--color-light-beige-2);
        padding: 3rem 3rem;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-family: 'Josefin Sans',sans-serif;
        font-weight: 400;
        color: var(--color-dark-brown-2);
    }

}